<h1>
    Juego Aleatorio:
</h1>

<div>
    Preguntas acertadas = <span id="score"><%= score %></span>
</div>

<form method="get" action="/quizzes/randomcheck/<%= quiz.id %>">

    <p>
        Pregunta: <b><%= quiz.question %></b>
    </p>



    <div class="wideRow">
        <input type="text" class="itemWide" id="answer" name="answer" value="" placeholder="Respuesta" autocomplete="off"/>
        <input type="submit" class="itemNarrow" id="send" value="Comprobar">
    </div>




</form>
<p>

</p>

<a href="/quizzes"><button>Volver</button></a>
<h1>Pistas:</h1>
<ul><span id="pistas"><%= pistas %></span></ul>
<p></p>
<span id="autor"><%= autor %></span>
<% if (session.user) { %>
<% include ../tips/new %>
<% } %>

<% var tips = quiz.Tips; %>
<% var quizId = quiz.id; %>

<% include ../tips/index %>
